/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-g5qp50siej] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-g5qp50siej] {
    flex: 1;
}

.top-row[b-g5qp50siej] {
    background-color: rgb(37, 37, 37);
    border-bottom: 1px solid rgb(14, 14, 14);
    margin-bottom: 1rem;
    a {
        color: white;
    }
}

.dropdown-menu[b-g5qp50siej] {
    background-color: rgb(37, 37, 37);
    border: 1px solid rgb(14, 14, 14);
}
.dropdown-menu[b-g5qp50siej]  a {
    color: white;
}

.dropdown-menu[b-g5qp50siej]  a:hover {
    font-weight: bold;
    background-color: transparent;
}

.lone-link[b-g5qp50siej] {
    padding-left: 0; 
    padding-right: 0;
}

.nav-link:hover[b-g5qp50siej] {
    color: rgb(241, 38, 241);
}

.navbar-brand:hover[b-g5qp50siej] {
    color: rgb(241, 38, 241);
}
.img-up-shift[b-g5qp50siej] {
    position: relative;
    top: -10px;
    left: -3px;
}

@media (min-width: 641px) {
    .page[b-g5qp50siej] {
        flex-direction: row;
    }

    /* .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    } */
} 
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-hwz9jhzxxh] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-hwz9jhzxxh] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-hwz9jhzxxh] {
    font-size: 1.1rem;
}

.bi[b-hwz9jhzxxh] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-hwz9jhzxxh] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-hwz9jhzxxh] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-hwz9jhzxxh] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-hwz9jhzxxh] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-hwz9jhzxxh] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-hwz9jhzxxh] {
        padding-bottom: 1rem;
    }

    .nav-item[b-hwz9jhzxxh]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-hwz9jhzxxh]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-hwz9jhzxxh]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-hwz9jhzxxh] {
        display: none;
    }

    .collapse[b-hwz9jhzxxh] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-hwz9jhzxxh] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/Home.razor.rz.scp.css */
.home-full-page-container[b-1shve68b2a] {
    height: 60vh;
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
}

.typing-container[b-1shve68b2a] {
    width: 80%;
    height: 150px;
    position: relative;
    display: flex;
    justify-self: center;
    font-size: 2rem;
    overflow-x: visible;
    overflow-y: scroll;
    align-content: flex-start;
    font-family: monospace;
    scrollbar-width: none;
}

.typing-container pre[b-1shve68b2a]::-webkit-scrollbar {
    display: none;
}

.word[b-1shve68b2a] {
    display: inline-block;
    position: relative;
    height: 50px;
}

.space[b-1shve68b2a] {
    display: inline-block;
    position: relative;
    height: 50px;
    padding-left: .5rem;
    padding-right: .5rem;
}

.neutral[b-1shve68b2a] {
    color: lightgray;
}

.correct[b-1shve68b2a] {
    color: green;
}

.incorrect[b-1shve68b2a] {
    color: red;
}

.no-focus-visible[b-1shve68b2a] {
    padding-left: .5rem;
}

.no-focus-visible:focus-visible[b-1shve68b2a] {
    outline: none;
}

.blurred[b-1shve68b2a] {
    filter: blur(.35rem);
    padding-left: .5rem;
}

.focus-text[b-1shve68b2a] {
    font-size: 1rem;
    position: absolute;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    color: white;
}

/* Settings */

.settings-bar[b-1shve68b2a] {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid rgb(14, 14, 14);
    background-color: rgb(37, 37, 37);
    padding: .25rem .5rem .25rem .5rem;
    flex-direction: row;
}

.settings-icon[b-1shve68b2a] {
    font-size: 1.5rem;
    display:flex;
}

.settings-icon-fire[b-1shve68b2a] {
    font-size: 1.1rem;
    position: relative;
    display:flex;
}

.settings-divider[b-1shve68b2a] {
    position: relative;
    color: darkgray;
    display:flex;
}

.settings-text[b-1shve68b2a] {
    font-size: .8rem;
    position: relative;
    display:flex;
    align-items: center;
    cursor: pointer;
}

.settings-text:hover[b-1shve68b2a] {
    color: rgb(241, 38, 241, .5);
}

.settings-text-active[b-1shve68b2a] {
    font-size: .8rem;
    position: relative;
    display:flex;
    align-items: center;
    color: rgb(241, 38, 241);
    cursor: pointer;
}

.settings-text-active:hover[b-1shve68b2a] {
    color: rgb(241, 38, 241, .5);
}

.settings-text-plain[b-1shve68b2a] {
    font-size: .8rem;
    position: relative;
    display:flex;
    cursor: pointer;
}

.settings-text-plain:hover[b-1shve68b2a] {
    color: rgb(241, 38, 241, .5);
}

.settings-text-plain-active[b-1shve68b2a] {
    font-size: .8rem;
    position: relative;
    display:flex;
    color: rgb(241, 38, 241);
    cursor: pointer;
}

.settings-text-plain-active:hover[b-1shve68b2a] {
    color: rgbrgb(241, 38, 241, .5);
}

.zen[b-1shve68b2a] {
    display: none;
}

/* Stats */

.stats-section[b-1shve68b2a] {
    justify-items: center;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    padding: 1rem .5rem 1rem .5rem;
    background-color: rgb(37, 37, 37);
    border-radius: 1rem;
    border: 1px solid rgb(14, 14, 14);
}

.stats-section-no-border[b-1shve68b2a] {
    justify-items: center;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    padding: 1rem .5rem 1rem .5rem;
}

.btn-plain-text[b-1shve68b2a] {
    background: none;
    border: none;
    padding: 0;
    color: white;
    cursor: pointer;
}

.btn-plain-text:hover[b-1shve68b2a] {
    color: rgb(241, 38, 241);
}

/* Cursor & Media Queries */

.cursor[b-1shve68b2a] {
    display: inline-block;
    width: 2px; 
    background-color: white;
    height: 1em;
    animation: blink-b-1shve68b2a 1s step-end infinite;
    position: absolute;
    margin: 0;
    top: 7px;
}

@keyframes blink-b-1shve68b2a {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;  
    }
}

@media(max-height: 700px)
{
    .home-full-page-container[b-1shve68b2a] {
        height: 70vh;
    }
}

@media(max-height: 580px)
{
    .stats-section[b-1shve68b2a] {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .stats-section-no-border[b-1shve68b2a] {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media(max-width: 1100px)
{
    .settings-bar[b-1shve68b2a] {
        width: 80%;
    }
}

@media(max-width: 800px)
{
    .settings-bar[b-1shve68b2a] {
        width: 98%;
    }
}
/* /Pages/Profile.razor.rz.scp.css */
.profile-bar[b-9g411fme9d] {
    width: 90%;
    min-height: 20%;
    border: 1px solid rgb(14, 14, 14);
    background-color: rgb(37, 37, 37);
    border-radius: 1rem;
    padding: .5rem .5rem .25rem .5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;
    column-gap: 15px;
}

.profile-key-bar[b-9g411fme9d] {
    width: 90%;
    min-height: 20%;
    border: 1px solid rgb(14, 14, 14);
    background-color: rgb(37, 37, 37);
    border-radius: 1rem;
    padding: .5rem .5rem .5rem .5rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    align-content: stretch;
    gap: 5px 25px;
}

.full-profile-page[b-9g411fme9d] {
    min-height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.prev-tests[b-9g411fme9d] {
    width: 50%;
    height: 40%;
    border: 1px solid rgb(14, 14, 14);
    background-color: rgb(37, 37, 37);
    border-radius: 1rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

.user-stat[b-9g411fme9d] {
    text-align: center;
}

.user-username[b-9g411fme9d] {
    font-size: 1.5rem;
    opacity: .85;
}

.joined-text[b-9g411fme9d] {
    font-size: .8rem;
    opacity: .7;
}

.opaque-text[b-9g411fme9d] {
    opacity: .85;
}

.user-stat-hr[b-9g411fme9d] {
    margin: 0;
    margin-bottom: 5px;
}

.user-stat-lg-text[b-9g411fme9d] {
    font-size: 1.1rem;
}

.user-key-stat[b-9g411fme9d] {
    text-align: center;
    flex: 1 1 10%;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 1rem;
    background-color: rgb(61,61,61);
}

.user-test[b-9g411fme9d] {
    padding-bottom: 1rem;
}

.section-title[b-9g411fme9d] {
    font-size: 1.75rem;
    font-weight: bold;
}

@media(max-width: 735px)
{
    .user-username[b-9g411fme9d] {
        font-size: 1rem;
    }

    .user-stat-lg-text[b-9g411fme9d] {
        font-size: .8rem;
    }

    .user-stat[b-9g411fme9d] {
        font-size: .75rem;
    }

    .user-key-stat[b-9g411fme9d] {
        font-size: .75rem;
    }

    .joined-text[b-9g411fme9d] {
        font-size: .6rem;
    }

    .section-title[b-9g411fme9d] {
        font-size: 1.25rem;
    }
    
}
/* /Pages/Test.razor.rz.scp.css */
/* .typing-container {
    width: 80%;
    height: 150px;
    position: relative;
    display: flex;
    justify-self: center;
    font-size: 2rem;
    overflow-x: visible;
    overflow-y: scroll;
    align-content: flex-start;
    font-family: monospace;
    scrollbar-width: none;
}

.typing-container pre::-webkit-scrollbar {
    display: none;
}

.word {
    display: inline-block;
    position: relative;
    height: 50px;
}

.space {
    display: inline-block;
    position: relative;
    height: 50px;
    padding-left: .5rem;
    padding-right: .5rem;
}

.neutral {
    color: lightgray;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.no-focus-visible:focus-visible {
    outline: none;
}

.blurred {
    filter: blur(.35rem);
}

.focus-text {
    font-size: 1rem;
    position: absolute;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    color: white;
}

.cursor {
    display: inline-block;
    width: 1px; 
    background-color: white;
    height: 1em;
    animation: blink 1s step-end infinite;
    position: absolute;
    margin: 0;
    top: 7px;
}

@keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;  
    }
} */
