.typing-container[b-1shve68b2a] {
    width: 80%;
    height: 150px;
    position: relative;
    display: flex;
    justify-self: center;
    font-size: 2rem;
    overflow-x: visible;
    overflow-y: scroll;
    align-content: flex-start;
    font-family: monospace;
    scrollbar-width: none;
}

.typing-container pre[b-1shve68b2a]::-webkit-scrollbar {
    display: none;
}

.word[b-1shve68b2a] {
    display: inline-block;
    position: relative;
    height: 50px;
}

.space[b-1shve68b2a] {
    display: inline-block;
    position: relative;
    height: 50px;
    padding-left: .5rem;
    padding-right: .5rem;
}

.neutral[b-1shve68b2a] {
    color: lightgray;
}

.correct[b-1shve68b2a] {
    color: green;
}

.incorrect[b-1shve68b2a] {
    color: red;
}

.no-focus-visible:focus-visible[b-1shve68b2a] {
    outline: none;
}

.cursor[b-1shve68b2a] {
    display: inline-block;
    width: 1px; 
    background-color: white;
    height: 1em;
    animation: blink-b-1shve68b2a 1s step-end infinite;
    position: absolute;
    margin: 0;
    top: 7px;
}

@keyframes blink-b-1shve68b2a {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;  
    }
  }