.home-full-page-container[b-1shve68b2a] {
    height: 60vh;
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
}

.typing-container[b-1shve68b2a] {
    width: 80%;
    height: 150px;
    position: relative;
    display: flex;
    justify-self: center;
    font-size: 2rem;
    overflow-x: visible;
    overflow-y: scroll;
    align-content: flex-start;
    font-family: monospace;
    scrollbar-width: none;
}

.typing-container pre[b-1shve68b2a]::-webkit-scrollbar {
    display: none;
}

.word[b-1shve68b2a] {
    display: inline-block;
    position: relative;
    height: 50px;
}

.space[b-1shve68b2a] {
    display: inline-block;
    position: relative;
    height: 50px;
    padding-left: .5rem;
    padding-right: .5rem;
}

.neutral[b-1shve68b2a] {
    color: lightgray;
}

.correct[b-1shve68b2a] {
    color: green;
}

.incorrect[b-1shve68b2a] {
    color: red;
}

.no-focus-visible[b-1shve68b2a] {
    padding-left: .5rem;
}

.no-focus-visible:focus-visible[b-1shve68b2a] {
    outline: none;
}

.blurred[b-1shve68b2a] {
    filter: blur(.35rem);
    padding-left: .5rem;
}

.focus-text[b-1shve68b2a] {
    font-size: 1rem;
    position: absolute;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    color: white;
}

/* Settings */

.settings-bar[b-1shve68b2a] {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid rgb(14, 14, 14);
    background-color: rgb(37, 37, 37);
    padding: .25rem .5rem .25rem .5rem;
    flex-direction: row;
}

.settings-icon[b-1shve68b2a] {
    font-size: 1.5rem;
    display:flex;
}

.settings-icon-fire[b-1shve68b2a] {
    font-size: 1.1rem;
    position: relative;
    display:flex;
}

.settings-divider[b-1shve68b2a] {
    position: relative;
    color: darkgray;
    display:flex;
}

.settings-text[b-1shve68b2a] {
    font-size: .8rem;
    position: relative;
    display:flex;
    align-items: center;
    cursor: pointer;
}

.settings-text:hover[b-1shve68b2a] {
    color: rgb(241, 38, 241, .5);
}

.settings-text-active[b-1shve68b2a] {
    font-size: .8rem;
    position: relative;
    display:flex;
    align-items: center;
    color: rgb(241, 38, 241);
    cursor: pointer;
}

.settings-text-active:hover[b-1shve68b2a] {
    color: rgb(241, 38, 241, .5);
}

.settings-text-plain[b-1shve68b2a] {
    font-size: .8rem;
    position: relative;
    display:flex;
    cursor: pointer;
}

.settings-text-plain:hover[b-1shve68b2a] {
    color: rgb(241, 38, 241, .5);
}

.settings-text-plain-active[b-1shve68b2a] {
    font-size: .8rem;
    position: relative;
    display:flex;
    color: rgb(241, 38, 241);
    cursor: pointer;
}

.settings-text-plain-active:hover[b-1shve68b2a] {
    color: rgbrgb(241, 38, 241, .5);
}

.zen[b-1shve68b2a] {
    display: none;
}

/* Stats */

.stats-section[b-1shve68b2a] {
    justify-items: center;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    padding: 1rem .5rem 1rem .5rem;
    background-color: rgb(37, 37, 37);
    border-radius: 1rem;
    border: 1px solid rgb(14, 14, 14);
}

.stats-section-no-border[b-1shve68b2a] {
    justify-items: center;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    padding: 1rem .5rem 1rem .5rem;
}

.btn-plain-text[b-1shve68b2a] {
    background: none;
    border: none;
    padding: 0;
    color: white;
    cursor: pointer;
}

.btn-plain-text:hover[b-1shve68b2a] {
    color: rgb(241, 38, 241);
}

/* Cursor & Media Queries */

.cursor[b-1shve68b2a] {
    display: inline-block;
    width: 2px; 
    background-color: white;
    height: 1em;
    animation: blink-b-1shve68b2a 1s step-end infinite;
    position: absolute;
    margin: 0;
    top: 7px;
}

@keyframes blink-b-1shve68b2a {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;  
    }
}

@media(max-height: 700px)
{
    .home-full-page-container[b-1shve68b2a] {
        height: 70vh;
    }
}

@media(max-height: 580px)
{
    .stats-section[b-1shve68b2a] {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .stats-section-no-border[b-1shve68b2a] {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media(max-width: 1100px)
{
    .settings-bar[b-1shve68b2a] {
        width: 80%;
    }
}

@media(max-width: 800px)
{
    .settings-bar[b-1shve68b2a] {
        width: 98%;
    }
}
