.profile-bar[b-9g411fme9d] {
    width: 90%;
    border: 1px solid rgb(14, 14, 14);
    background-color: rgb(37, 37, 37);
    border-radius: 1rem;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;
    column-gap: 15px;
}

.profile-key-bar[b-9g411fme9d] {
    width: 90%;
    min-height: 20%;
    border: 1px solid rgb(14, 14, 14);
    background-color: rgb(37, 37, 37);
    border-radius: 1rem;
    padding: .5rem .5rem .5rem .5rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    align-content: stretch;
    gap: 5px 25px;
}

.full-profile-page[b-9g411fme9d] {
    min-height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.prev-tests[b-9g411fme9d] {
    width: 50%;
    height: 40%;
    border: 1px solid rgb(14, 14, 14);
    background-color: rgb(37, 37, 37);
    border-radius: 1rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

.user-stat[b-9g411fme9d] {
    text-align: center;
    font-size: 1.25rem;
}

.user-username[b-9g411fme9d] {
    font-size: 1.5rem;
    opacity: .85;
}

.joined-text[b-9g411fme9d] {
    font-size: .8rem;
    opacity: .7;
    padding-bottom: 5px;
}

.opaque-text[b-9g411fme9d] {
    opacity: .85;
}

.user-stat-hr[b-9g411fme9d] {
    margin: 0;
    margin-bottom: 5px;
}

.user-stat-lg-text[b-9g411fme9d] {
    font-size: 1.35rem;
}

.user-key-stat[b-9g411fme9d] {
    text-align: center;
    flex: 1 1 10%;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 1rem;
    background-color: rgb(61,61,61, .5);
}

.user-key-stat-lg-text[b-9g411fme9d] {
    font-size: 1.15rem;
}

.test-table[b-9g411fme9d] {
    width: 90%;
}

.test-table-row-header[b-9g411fme9d] {
    border-bottom: 1px solid rgb(255,255,255,.5);
}

.section-title[b-9g411fme9d] {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.75rem;
    font-weight: bold;
    border-top: 1px solid rgb(14, 14, 14);
    border-left: 1px solid rgb(14, 14, 14);
    border-right: 1px solid rgb(14, 14, 14);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: rgb(37, 37, 37);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 7.5px;
}

.tests-title[b-9g411fme9d] {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.75rem;
    font-weight: bold;
    border-top: 1px solid rgb(14, 14, 14);
    border-left: 1px solid rgb(14, 14, 14);
    border-right: 1px solid rgb(14, 14, 14);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: rgb(37, 37, 37);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 7.5px;
}

.bigraph-selector[b-9g411fme9d] {
    cursor: pointer;
}

.bigraph-selector:hover[b-9g411fme9d] {
    color: rgb(241, 38, 241);
}

.key-selector[b-9g411fme9d] {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transform: translateY(3px);
}

.key-selector:hover[b-9g411fme9d] {
    color: rgb(241, 38, 241);
}

@media(max-width: 735px)
{
    .user-username[b-9g411fme9d] {
        font-size: 1rem;
    }

    .user-stat-lg-text[b-9g411fme9d] {
        font-size: 1rem;
    }

    .user-stat[b-9g411fme9d] {
        font-size: .9rem;
    }

    .user-key-stat[b-9g411fme9d] {
        font-size: .75rem;
    }

    .joined-text[b-9g411fme9d] {
        font-size: .6rem;
    }

    .section-title[b-9g411fme9d] {
        font-size: 1.25rem;
    }
    
    .test-table[b-9g411fme9d] {
        font-size: .75rem;
    }
}

@media(max-width: 1100px)
{
    .prev-tests[b-9g411fme9d] {
        width: 70%;
    }
}

@media(max-width: 890px)
{
    .prev-tests[b-9g411fme9d] {
        width: 80%;
    }
}