.typing-container[b-699tyklcfu] {
    width: 80%;
    height: 150px;
    display: flex;
    justify-self: center;
    font-size: 2rem;
    overflow-y: scroll;
    overflow-x: visible;
    align-content: flex-start;
    font-family: monospace;
    scrollbar-width: none;

}

.typing-container pre[b-699tyklcfu]::-webkit-scrollbar {
    display: none;
}

.timer-container[b-699tyklcfu] {
    text-align: center;
}

.word[b-699tyklcfu] {
    display: inline-block;

}

.neutral[b-699tyklcfu] {
    color: lightgray;
}

.correct[b-699tyklcfu] {
    color: green;
}

.incorrect[b-699tyklcfu] {
    color: red;
}

.noFocusVisible:focus-visible[b-699tyklcfu] {
    outline: none;
}

.cursor[b-699tyklcfu] {
    display: inline-block;
    width: 1px; 
    background-color: white;
    height: 1em;
    animation: blink-b-699tyklcfu 1s step-end infinite;
    position: relative;
    vertical-align: middle;
    margin-left: 1px;
    margin-bottom: 5px;
}

@keyframes blink-b-699tyklcfu {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;  
    }
  }