.typing-container[b-699tyklcfu] {
    width: 80%;
    height: 150px;
    display: flex;
    justify-self: center;
    font-size: 2rem;
    overflow-x: visible;
    overflow-y: scroll;
    align-content: flex-start;
    font-family: monospace;
    scrollbar-width: none;
    position: relative;
}

.typing-container pre[b-699tyklcfu]::-webkit-scrollbar {
    display: none;
}

.word[b-699tyklcfu] {
    display: inline-block;
    position: relative;
}

.space[b-699tyklcfu] {
    display: inline-block;
    position: relative;
    padding-left: .5rem;
    padding-right: .5rem;
}

.neutral[b-699tyklcfu] {
    color: lightgray;
}

.correct[b-699tyklcfu] {
    color: green;
}

.incorrect[b-699tyklcfu] {
    color: red;
}

.no-focus-visible:focus-visible[b-699tyklcfu] {
    outline: none;
}

.blurred[b-699tyklcfu] {
    filter: blur(.35rem);
}

.focusText[b-699tyklcfu] {
    /* think about changing this around on Home page... works for now */
    font-size: 1rem;
    position: absolute;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    color: white;
}

.cursor[b-699tyklcfu] {
    display: inline-block;
    width: 1px; 
    background-color: white;
    height: 1em;
    animation: blink-b-699tyklcfu 1s step-end infinite;
    position: absolute;
    margin: 0;
    top: 7px;
}

@keyframes blink-b-699tyklcfu {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;  
    }
}
