.typing-container {
    width: 80%;
    height: 150px;
    display: flex;
    justify-self: center;
    font-size: 2rem;
    overflow-x: visible;
    overflow-y: scroll;
    align-content: flex-start;
    font-family: monospace;
    scrollbar-width: none;
}

.typing-container pre::-webkit-scrollbar {
    display: none;
}

.word {
    display: inline-block;
}

.neutral {
    color: lightgray;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.no-focus-visible:focus-visible {
    outline: none;
}

.cursor {
    display: inline-block;
    width: 1px; 
    background-color: white;
    height: 1em;
    animation: blink 1s step-end infinite;
    position: relative;
    vertical-align: middle;
    margin-left: 1px;
    margin-bottom: 5px;
}

@keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;  
    }
  }