@using TypicalTypist.Models
@using TypicalTypist.Services

@page "/"

@inject WordService wordService

@* Start HTML *@

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h3>Random Test Words: </h3>

@if(testInstance == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach(var tuple in testInstance.Select((word, index) => (word, index)))
        {
            @foreach(var tuple2 in tuple.word.Chars.Select((Chars, index) => (Chars, index)))
            {
                <li>@tuple2.Chars</li>
            }
            <span>&#8901;</span>
        }
    </ul>

}


@code 
{
    //Variables
    private List<WordTestObject>? testInstance;
    
    //Lifecycle Methods
    protected override async Task OnInitializedAsync()
    {
        testInstance = await wordService.GetRandomTest();
    } 

}
