.typing-container {
    width: 80%;
    height: 150px;
    position: relative;
    display: flex;
    justify-self: center;
    font-size: 2rem;
    overflow-x: visible;
    overflow-y: scroll;
    align-content: flex-start;
    font-family: monospace;
    scrollbar-width: none;
}

.typing-container pre::-webkit-scrollbar {
    display: none;
}

.word {
    display: inline-block;
    position: relative;
    height: 50px;
}

.space {
    display: inline-block;
    position: relative;
    height: 50px;
    padding-left: .5rem;
    padding-right: .5rem;
}

.neutral {
    color: lightgray;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.no-focus-visible:focus-visible {
    outline: none;
}

.cursor {
    display: inline-block;
    width: 1px; 
    background-color: white;
    height: 1em;
    animation: blink 1s step-end infinite;
    position: absolute;
    margin: 0;
    top: 7px;
}

@keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;  
    }
  }