.home-full-page-container {
    height: 60vh;
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
}

.typing-container {
    width: 80%;
    height: 150px;
    position: relative;
    display: flex;
    justify-self: center;
    font-size: 2rem;
    overflow-x: visible;
    overflow-y: scroll;
    align-content: flex-start;
    font-family: monospace;
    scrollbar-width: none;
}

.typing-container pre::-webkit-scrollbar {
    display: none;
}

.word {
    display: inline-block;
    position: relative;
    height: 50px;
}

.space {
    display: inline-block;
    position: relative;
    height: 50px;
    padding-left: .5rem;
    padding-right: .5rem;
}

.neutral {
    color: lightgray;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.no-focus-visible:focus-visible {
    outline: none;
}

.blurred {
    filter: blur(.35rem);
}

.focus-text {
    font-size: 1rem;
    position: absolute;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    color: white;
}

.settings-bar {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid rgb(14, 14, 14);
    background-color: rgb(37, 37, 37);
    padding: .25rem .5rem .25rem .5rem;
    flex-direction: row;
}

.settings-icon {
    font-size: 1.5rem;
    display:flex;
}

.settings-icon-fire {
    font-size: 1.1rem;
    position: relative;
    display:flex;
}

.settings-divider {
    position: relative;
    color: darkgray;
    display:flex;
}

.settings-text {
    font-size: .8rem;
    position: relative;
    display:flex;
    align-items: center;
    cursor: pointer;
}

.settings-text:hover {
    color: rgb(0, 255, 255, .5);
}

.settings-text-active {
    font-size: .8rem;
    position: relative;
    display:flex;
    align-items: center;
    color: aqua;
    cursor: pointer;
}

.settings-text-active:hover {
    color: rgb(0, 255, 255, .5);
}

.settings-text-plain {
    font-size: .8rem;
    position: relative;
    display:flex;
    cursor: pointer;
}

.settings-text-plain:hover {
    color: rgb(0, 255, 255, .5);
}

.settings-text-plain-active {
    font-size: .8rem;
    position: relative;
    display:flex;
    color: aqua;
    cursor: pointer;
}

.settings-text-plain-active:hover {
    color: rgb(0, 255, 255, .5);
}

.stats-section {
    justify-items: center;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    padding: 1rem .5rem 1rem .5rem;
    background-color: rgb(37, 37, 37);
    border-radius: 1rem;
    border: 1px solid rgb(14, 14, 14);
}

.stats-section-no-border {
    justify-items: center;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    padding: 1rem .5rem 1rem .5rem;
}

.btn-plain-text {
    background: none;
    border: none;
    padding: 0;
    color: white;
    cursor: pointer;
}

.btn-plain-text:hover {
    color: aqua;
}

.cursor {
    display: inline-block;
    width: 2px; 
    background-color: aqua;
    height: 1em;
    animation: blink 1s step-end infinite;
    position: absolute;
    margin: 0;
    top: 7px;
}

@keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;  
    }
}