@using TypicalTypist.Services
@using TypicalTypist.Models

@page "/profile"

@inject UserService userService

<PageTitle>Profile</PageTitle>

<div class="full-profile-page">

    <div class="profile-bar">
        @userService.activeUser.UserName
    </div>

    <div class="profile-bar">
        key stats
    </div>

    <div class="profile-bar">
        bigraph stats
    </div>

    <div class="prev-tests">
        previous tests
    </div>

</div>

@code
{

}