.page[b-g5qp50siej] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-g5qp50siej] {
    flex: 1;
}

.top-row[b-g5qp50siej] {
    background-color: rgb(61, 61, 61);
    border-bottom: 1px solid #d6d5d5;
    margin-bottom: 1rem;
    a {
        color: white;
    }
}

.dropdown-menu[b-g5qp50siej] {
    background-color: rgb(37, 37, 37);
    border: 1px solid white;
}
.dropdown-menu[b-g5qp50siej]  a {
    color: white;
}

.dropdown-menu[b-g5qp50siej]  a:hover {
    font-weight: bold;
    background-color: transparent;
}

.lone-link[b-g5qp50siej] {
    padding-left: 0; 
    padding-right: 0;
}

.nav-link:hover[b-g5qp50siej] {
    color: aqua;
}

.navbar-brand:hover[b-g5qp50siej] {
    color: aqua;
}
.img-up-shift[b-g5qp50siej] {
    position: relative;
    top: -10px;
    left: -3px;
}

@media (min-width: 641px) {
    .page[b-g5qp50siej] {
        flex-direction: row;
    }

    /* .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    } */
} 